Repository danyaridiger/extended-click-outside: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(package): correct paths to use relative notation
  package.json
Due: prettier --write

chore(release): release extended-click-outside v3.1.0
  .eslintrc.json
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  bundlewatch.config.json
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/index.umd.js
  dist/index.umd.js.map
  index.js
  package-lock.json
  package.json
  rollup.config.mjs
Due: eslint --fix, prettier --write

chore(release): release extended-click-outside v3.1.1
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/index.umd.js.map
  index.js
  package.json
Due: eslint --fix, prettier --write

chore(release): release extended-click-outside v3.1.2
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  dist/index.cjs.js
  dist/index.esm.js
  dist/index.umd.js
  index.js
  package.json
Due: eslint --fix, prettier --write

chore(release): release extended-click-outside v3.1.3
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  index.js
  package.json
Due: eslint --fix, prettier --write

chore(ci): improve dependency update workflow
  .github/workflows/dependencies.yml
Due: none

fix(ci): skip hooks in deps updates and update eslint ecma version
  .eslintrc.json
  .github/workflows/dependencies.yml
Due: prettier --write

chore(release): release extended-click-outside v3.2.0
  .browserslistrc
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/workflows/audit.yml
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  .npmignore
  .prettierignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  babel.config.js
  bundlewatch.config.json
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/index.umd.js
  dist/index.umd.js.map
  dist/types/index.d.ts
  index.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.mjs
  types/index.d.ts
Due: eslint --fix, prettier --write

fix(ci): disable git hooks in dependency update workflow
  .gitattributes
  .github/workflows/dependencies.yml
  CHANGELOG.md
Due: none

refactor(tests): rename tests helper directory from 'utils' to 'tools'
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  CONTRIBUTING.md
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/index.umd.js
  dist/index.umd.js.map
  jest.config.js
  rollup.config.mjs
  tests/tools/wrappers.tool.js
  tests/unit/index.spec.js
Due: eslint --fix, prettier --write

fix(ci): resolve permission issues in dependency update workflow
  .github/workflows/dependencies.yml
Due: none

chore(deps): update minor and patch dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(ci): auto-delete branches after dependency pull requests merges
  .github/workflows/dependencies.yml
  CHANGELOG.md
Due: none

chore(release): release extended-click-outside v3.2.1
  CHANGELOG.md
  README.md
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/index.umd.js
  dist/index.umd.js.map
  index.js
  package.json
Due: eslint --fix, prettier --write

chore(workflow): update schedule from weekly to monthly
  .github/workflows/dependencies.yml
  package.json
Due: prettier --write

chore(workflow): schedule workflow for quarterly runs
  .github/workflows/dependencies.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.json)
